:root {
  /* Color */
  --slate-900: hsl(218, 44%, 22%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-300: hsl(212, 45%, 89%);
  --white: hsl(0, 0%, 100%);
  --spacing-500: 40px;
  --spacing-300: 24px;
  --spacing-200: 16px;
}

body {
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--slate-300);
  margin: 0;
}

.content {
  background-color: var(--white);
  padding: var(--spacing-200) var(--spacing-200) var(--spacing-500)
    var(--spacing-200);
  border-radius: 20px;
  text-align: center;
  width: 320px;
  height: 499px;
  box-sizing: border-box;
}

.content img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  margin-bottom: var(--spacing-300);
}

.text {
  width: 288px;
  height: 131px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--spacing-200);
  box-sizing: border-box;
}

.text h1 {
  color: var(--slate-900);
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 120%;
  margin: 0 0 var(--spacing-200) 0;
}

.text p {
  color: var(--slate-500);
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 16px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 375px) {
}
